#image_logo{
    height: 30vh;
    margin-left: 45vw;
}

#fruits_image{
    height: 45vh;
    padding: 50px;
    margin-left: 20vh;
}

#vegetables_picture{
    height: 45vh;
    margin-left: 30vh;
    margin-top: 5vh;
}

#fruits_vegatable{
    display: flex;
}